$black1: rgb(27, 27, 27);
$black2: rgb(49, 49, 49);
$white: rgb(235, 235, 235);
$white2:rgb(153, 153, 153);
$color1: rgb(211, 27, 57);



$Color1: #93CDBF;
$Color2: #DDECF8;
$Color3: #B7D3E1;
$Color4: #979EBF;
$Color41:#a0ade7;
$Color5: #527F74;


@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
  }

  body {
    background: $Color1;
    color: $white;
  }
  
  button,
  input[type="submit"] {
    background: none;
    border: none;
    cursor: pointer;
    background: $Color2;
    transition: 0.2s;
  
    &:hover {
    
      transform: scale(2px);
    }
  }
  
  input,
  textarea {
    border-radius: 7px;
    border: none;
    resize: none;
    margin: 5px;
    padding: 8px;
    background: $Color4;
  }